h1{
	color:orange;
	font-size: 20pt;
	font-family: Georgia;
	Font-style: italic;
	font-weight: bold;
	
}
h2{
	color:yellow;
	font-size: 16pt;
	font-family: Arial;
	Font-style: italic;
	font-weight: bold;
}
p{
	color:blue;
	font-size: 12pt;
	font-family: sans-serif;
	Font-style: normal;
}
